h1 {
  font-family: 'Cinzel Decorative', cursive;
}

ol {
  list-style: upper-roman;
}

.card-body {
  background-color: rgb(210, 195, 195);
  color: black;
}

.card-header {
  background-color: rgb(80, 25, 20);
}

.card-header .btn-link {
  color: white;
  font-family: 'Bitter', serif;
}
