body {
  background-color: rgb(200, 215, 245);
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Volkhov', serif;
}

li {
  font-size: 14px;
}

.card {
  background-color: rgb(140, 150, 180);
  background-color: rgba(255, 255, 255, .25);
  box-shadow: 5px 5px 15px grey;
  margin: 1%;
  padding: 0 1% 1%;
}

.card-img {
  border: rgb(140, 150, 180);
  border: 3px solid rgba(255, 255, 255, .25);
  width: calc(100% - 6px);
}

.col {
  display: inline-block;
  padding: 0 2%;
  /* text-align: left; */
  vertical-align: top;
  width: 96%;
}

.hovered {
  opacity: .75;
}

.map {
  width: 100%;
}

.row {
  padding: 2%;
  text-align: left;
}

.strong {
  font-weight: 700;
}

.title {
  bottom: 9px;
  font-style: italic;
  position: relative;
}

/*************************** Desktops and Laptops ***************************/

@media (min-width: 800px) {
  .col {
    width: 45%;
  }
  .col3 {
    width: 27%;
  }
}
