a:visited, a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(25, 50, 110);
  text-decoration: underline;
}

body {
  background-color: rgb(200, 215, 245);
  font-family: 'Muli', Arial, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Volkhov', serif;
}

li {
  font-size: 14px;
}

.caption {
  font-size: 10px;
  font-style: italic;
}

.card {
  background-color: rgb(215, 225, 250);
  background-color: rgba(255, 255, 255, .25);
  box-shadow: 5px 5px 15px grey;
  padding: 0 1% 1%;
}

.card-img {
  border: rgb(215, 225, 250);
  border: 3px solid rgba(255, 255, 255, .25);
  width: calc(100% - 6px);
}

.col {
  display: inline-block;
  margin: 2% 0;
  padding: 0 2%;
  vertical-align: top;
  width: 96%;
}

.emphasis {
  font-style: italic;
}

.hovered {
  opacity: .75;
}

.map {
  width: 100%;
}

.row {
  padding: 0 2%;
  text-align: left;
}

.strong {
  font-weight: 700;
}

.title {
  bottom: 9px;
  font-style: italic;
  position: relative;
}

.underline {
  text-decoration: underline;
}

/*************************** Desktops and Laptops ***************************/

@media (min-width: 800px) {
  .col {
    width: 45%;
  }
  .col3 {
    margin: 1%;
    width: 27%;
  }
  .row {
    padding: 2%;
  }
}
